:root {
    --bounce: cubic-bezier(0.34, 1.56, 0.64, 1);
    --red-color: #d0473a;
    --cyan-color: #53bda6;
    --black-color: #202024;

}

.star {
    height: 30px;
    animation: spin 10s linear infinite;
    margin: auto;
}


@keyframes spin {
    from {
        rotate: 0deg;
    }
    to {
        rotate: 360deg;
    }
}

a {
    color:var(--red-color);
    text-decoration: none;
}

.hiding-button-link {
    user-select: none;
    cursor: pointer;
    background-color: var(--black-color);
    /* transform-origin: left; */
    rotate: -25deg;
    display: inline-block;
    margin: 15px;
    transition:
    scale 0.1s var(--bounce),
    rotate 0.1s var(--bounce),
    box-shadow 0.3s var(--bounce),
    translate 0.4s var(--bounce);
    box-shadow:
    -3px 6px var(--red-color),
    -2px -4px var(--cyan-color);
}

.hiding-button-link-text {
    font-style:italic;
    display: inline-flex;
    vertical-align: middle;
    font-size: 40px;
    /* height: 60px; */
    transform: scaleX(0);
    transform-origin: left;
    transition:
    transform 0.15s var(--bounce),
    box-shadow 0.3s var(--bounce);
    background-color: var(--black-color);
    box-shadow: 0px 0px #ffffff;
    margin-left: -5px;
    position:absolute;
}

.hiding-button-link:hover {
    .star {
        animation-duration: 2s;
    }
    .hiding-button-link-text {
        transform: scaleX(1);
        box-shadow: 5px 10px #ffffff;
    }
    .icon {
        rotate: 5deg;
        scale: 1.1;
    }
    rotate: 0deg;
    scale: 1.1;
    translate: -60px 0px;
    box-shadow:
    53px 10px var(--red-color),
    30px -10px var(--cyan-color);
}

.hiding-button-link:active {
    .star {
        animation-duration: 0.3s;
    }
    .hiding-button-link-text {
        transform: scaleY(0.8);
        box-shadow: 5px 14px var(--black-color);
        color: white;
        background-color: var(--red-color);
        font-style: normal;
    }
    .icon {
        rotate: -10deg;
        scale: 1;
    }
    rotate: 3deg;
    scale: 1.15 1;
    translate: -60px 5px;
    box-shadow:
    220px 2px var(--cyan-color),
    240px -2px var(--black-color);
    background-color: var(--red-color);
}

.icon {
    height: 40px;
    margin: 10px;
    vertical-align: middle;
    rotate: 25deg;
    transition:
    rotate 0.1s var(--bounce),
    scale 0.5s var(--bounce);
}

.link-box {
    cursor:pointer;
    margin: 10px;
    padding: 10px;
    width: 50px;
    background-color: #ffffff;
    border-radius: 5px;
    padding: 10px;
    transition:
    scale 0.1s var(--bounce),
    box-shadow 0.2s var(--bounce),
    border-radius 0.1s var(--bounce);
}

.link-box:hover {
    scale: 1.2;
    rotate: 7deg;
    box-shadow:
    5px 3px var(--red-color),
    -10px -7px var(--cyan-color);
    background: var(--black-color);
    border-radius: 0px;
}

#myavatar {
    user-select: none;
    position: relative;
    transform-origin: bottom center;
    width: 300px;
    margin: 10px;
    padding: 10px;
    right: 30px;
    filter: drop-shadow(10px 10px 2px #101011);
    transition: filter 0.1s var(--bounce);
}

#myavatar:hover {
    filter: drop-shadow(-15px -15px 0px white);
}

.name-card {
    letter-spacing: 3px;
    user-select: none;
    cursor: pointer;
    color: white;
    background: var(--cyan-color);
    font-style: italic;
    text-shadow:
    2px 0px var(--black-color),
    -2px 0px var(--black-color),
    0px -2px var(--black-color),
    0px 2px var(--black-color),
    -2px -2px var(--black-color),
    -2px 2px var(--black-color),
    2px -2px var(--black-color),
    2px 2px var(--black-color);
    box-shadow:
    20px 5px var(--red-color),
    -10px -7px #ffffff,
    10px 8px var(--black-color);
    width: 400px;
    font-size: 30pt;
    outline: 4px solid var(--black-color);
    transition: box-shadow 0.2s var(--bounce),
    rotate 0.1s var(--bounce),
    scale 0.1s var(--bounce);
}

.name-card:hover {
    .star {
        animation-duration: 2s;
    }
    box-shadow:
    -30px 10px var(--cyan-color),
    20px -9px var(--red-color),
    13px 15px #ffffff;
    background-color: var(--black-color);
    rotate: 3deg;
    scale: 1.1;
    outline-width: 0px;
}

.name-card:active {
    .star {
        animation-duration: 0.3s;
    }
    box-shadow:
    0px 0px var(--cyan-color),
    0px 0px var(--red-color),
    0px 0px #ffffff;
    background-color: var(--red-color);
    color:var(--black-color);
    rotate: -1deg;
    scale: 1.4 0.7;
    outline-width: 0px;
    translate: 0px -5px;
}

.title-box {
    user-select: none;
    font-size: smaller;
    margin: 5px;
    background-color:#101011;
    padding: 6px;
    box-shadow: 5px 3px var(--red-color);
    rotate: 1deg;
}

#language-switcher {
    cursor: pointer;
    transition: box-shadow 0.1s var(--bounce),
    background-color 0.2s var(--bounce),
    color 0.1s var(--bounce),
    scale 0.1s var(--bounce);
}
#language-switcher:hover {
    box-shadow: -8px 6px var(--cyan-color);
    background-color: #ffffff;
    color:#101011;
    scale: 1.1;
}

.upper-roof {
    z-index: 100;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 20px);
    margin-right: 20px;
    height: min-content;
    padding: 5px;
}

body {
    background: #302c2c;
    font-family: "Inter";
    color: var(--red-color);
}