.link-box {
    cursor:pointer;
    margin: 5px;
    width: 50px;
    transition: all 0.2s ease-out;
    background-color: #ffffff;
    border-radius: 20px;
    padding: 10px;
}

.link-box:hover {
    transform: scale(1.2) rotate(7deg);
}

.avatar {
    width: 400px;
    height: 400px;
    scale: 1;
    padding-top: 0px;
    cursor: grab;
    transition: all 0.3s ease;
    border-radius: 20px;
}
.avatar:active {
    width: 460px; height: 340px; padding-top: 60px;
}
.avatar:hover {
    scale: 1.01;
}

.name-card {
    color: white;
    background: #53BDA6;
    text-shadow:
    2px 0px #202024,
    -2px 0px #202024,
    0px -2px #202024,
    0px 2px #202024,
    -2px -2px #202024,
    -2px 2px #202024,
    2px -2px #202024,
    2px 2px #202024;
}

body {
    background: #1b1919;
    /* linear-gradient(
        #100f0f 20%,
        #53BDA6 100%
    ); */
    font-family: "Roboto";
    color: white;
}

/*  #53bda6 cyan
    #202024 black
    #d0473a red
 */