<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8"/>
  <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
  <title>
   :JAN OCEAN
  </title>
    <meta property="og:url" content="https://janiocean.github.io/">
  <meta property="og:type" content="blog">
  <meta property="og:site_name" content=":JAN OCEAN">
  <meta property="og:title" content=":JAN OCEAN">
  <meta property="og:description" content="Персональный сайт">
  <meta property="og:image" content="https://janiocean.github.io/media/images/blog_menu_writing_avatar.webp">
 
  <link href="../media/images/page_title_icon.png" rel="icon" type="image/x-icon"/>
  <link href="../media/styles/style.css" rel="stylesheet"/>
 </head>
<body>
 <header>
   <div class="header_holder">
    <p><a href="/">
     Главная
    </a></p>
   </div>
  </header>
  <main>
   <div id="post-header">
       <h1 id="title">О том как прошло то о чём я хотел</h1>
       <h3 id="date">2026/08/08</h5>
       </div>
   <article id="post-content">
       
   </article>
  </main>
  <footer>
   <div class="pre-footer">
    <div style="display: flexbox; padding: 80px; font-size: xx-large">
     <img src="../media/images/circle.webp" width="60px"/>
     ______________
     <img src="../media/images/circle.webp" width="60px"/>
    </div>
   </div>
   <div class="dark">
    <a href="https://t.me/janiocean" id="telegram" target="_blank">
     <img src="../media/images/telegram icon.svg">
    </a>
   </div>
  </footer>
</body>